<div class="content-header">
    <div class="content-info-logo">
        <div class="content-menu-icon"></div>
        <div class="content-logo" style="background-image: url('../../../assets/img/info-header/logo.png');"></div>
        <div class="rectangle-divisor"></div>
        <span class="text-info-logo">Plan Financiero Digital - FPX</span>
    </div>
    <div class="content-info-options">
        <div class="content-info-options">
            <img src="../../../assets/img/info-header/happy.png" height="24px" width="24px" alt="Happy"/>
            <span class="text-info-option">Tu Financial Planner</span>
        </div>
        <div class="content-info-options">
            <img src="../../../assets/img/info-header/hand-love.png" height="24px" width="24px" alt="Hand"/>
            <span class="text-info-option">Aportes</span>
        </div>
        <div class="content-info-options">
            <div class="img-question" (mouseenter)="mouseEnter()" (mouseout)="mouseOut()" [style]="'background-image: url(\'../../../assets/img/info-header/'+imgQuestion+'.png\')'"></div>
        </div>
    </div>
</div>
